.direction-buttons {
  position: relative;
  height: 200px;
  width: 200px;
}

.direction-buttons__button {
  position: absolute;
}

.direction-buttons__button--top {
  top: 0;
  left: 100px;
}

.direction-buttons__button--right {
  top: 100px;
  right: 0;
}

.direction-buttons__button--bottom {
  bottom: 0;
  left: 100px;
}

.direction-buttons__button--left {
  top: 100px;
  left: 0;
}