.image-viewer {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

.image-viewer__image {
  max-width: 80vw;
  max-height: 80vh;
  transition: transform 1s ease;
}

.image-viewer__buttons {
  position: relative;
}

.image-viewer__button {
  position: absolute;
}

.image-viewer__button--top-left {
  top: 0;
  left: 0;
  transform: rotateZ(-45deg);
}

.image-viewer__button--top {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.image-viewer__button--top-right {
  top: 0;
  right: 0;
  transform: rotateZ(45deg);
}

.image-viewer__button--left {
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

.image-viewer__button--right {
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.image-viewer__button--bottom-left {
  bottom: 0;
  left: 0;
  transform: rotateZ(45deg);
}

.image-viewer__button--bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.image-viewer__button--bottom-right {
  bottom: 0;
  right: 0;
  transform: rotateZ(-45deg);
}
