.title {
  text-align: center;
  margin-top: 1rem;
	margin-bottom: 1rem;
}

@media (min-width: 961px) {
	.title {
		position: absolute;
    transform: rotateZ(-90deg) translate(0, -50%);
    left: -100px;
    top: 45%;
	}
}

.description {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}